<h1>General Shopping List</h1>

<p>Total Food Items: <%= @missing_foods.count %></p>
<p>Total Price: <%= @total_price %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @missing_foods.each do |missing_food| %>
      <tr>
        <td><%= missing_food[:name] %></td>
        <% general_food = @general_food_list.find_by(name: missing_food[:name]) %>
        <% if general_food %>
          <td><%= general_food.measurement_unit %></td>
          <td><%= general_food.price %></td>
        <% else %>
          <td>N/A</td>
          <td>N/A</td>
        <% end %>
        <td><%= missing_food[:quantity] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

