
<h1>Recipes List</h1>

<p><%= link_to 'Add Recipe', new_recipe_path %></p>

<table>
  <tbody>
   <br>
    <% @recipes.each do |recipe| %>

      <tr class="tr1">
        <td><%= recipe.id %>.<%= link_to recipe.name, recipe_path(recipe) %></td>
        <td><%= recipe.description %></td>
        <td>
          <%= button_to 'REMOVE', recipe_path(recipe), method: :delete %>
        </td>
      </tr>

    <% end %>
  </tbody>

</table>

