
<h1>Recipes List</h1>

<p><%= link_to 'Add Recipe', new_recipe_path %></p>

<table>
  <thead>
    <tr>
      <th><%=  'name' %></th>
      <th><%=  'preparation time' %></th>
      <th><%=  'cooking time' %></th>
      <th><%=  'Description' %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.preparation_time %></td>
        <td><%= recipe.cooking_time %></td>
        <td><%= recipe.description %></td>
        <td>
          <%= button_to 'REMOVE', recipe_path(recipe), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
