<h1 class="food-list">Food List</h1>

<p class="btn-food"><%= link_to 'Add Food', new_food_path %></p>

<table class="table">
  <thead>
    <tr class="litem">
      <th class="litem"><%= sortable 'name' %></th class="litem">
      <th class="litem"><%= sortable 'measurement_unit' %></th class="litem">
      <th class="litem"><%= sortable 'price' %></th class="litem">
      <th class="litem"><%= sortable 'quantity' %></th class="litem">
      <th class="litem">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr class="litem">
        <td class="litem"><%= food.name %></td class="litem">
        <td class="litem"><%= food.measurement_unit %></td class="litem">
        <td class="litem"><%= number_to_currency(food.price) %></td class="litem">
        <td class="litem"><%= food.quantity %></td class="litem">
        <td class="litem">
          <%= button_to 'DELETE', food_path(food), method: :delete %>
        </td class="litem">
      </tr>
    <% end %>
  </tbody>
</table>
