<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= link_to "Edit this food", edit_food_path(@food) %> |
  <%= link_to "Back to foods", foods_path %>

  <%= button_to "Destroy this food", @food, method: :delete %>
</div>


<%
=begin%>
 <h1>Foods#show</h1>
<p>Find me in app/views/foods/show.html.erb</p>
<%
=end%>
