<h1>General Shopping List</h1>

<p>Total Food Items: <%= @total_count %></p>
<p>Total Price: <%= @total_price %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @missing_foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
